<!-- <div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="CryptoNalysis" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="vid-container">
            <div class="video-responsive">
                    <iframe width="560" class="iframe-center" height="315" src="https://www.youtube.com/embed/Fo6AwUtthCw" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen>
                    </iframe>
            </div>
        </div>
    </ba-card>
</div> -->

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <h5 class="cadetblue" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    CryptoNalysis
                </h5>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="vid-container">
                    <div class="video-responsive">
                        <iframe width="560" class="iframe-center" height="315" src="https://www.youtube.com/embed/Fo6AwUtthCw" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="">
                    <div class="my-div">

                        <h5 class="cadetblue">About</h5>
                        <p>
                            This website came about while i was looking for a project that i could feel passionate about to showcase some of my skills.
                            I didn't ever expect it to end up being as complicated as it was but I felt like I had to go
                            through with it since i started. I had to research multiple cryptocurrency exchange websites
                            and go through their api's to get a general idea of what the data I would be scraping
                        </p>
                        <h5 class="cadetblue">Mean stack app</h5>
                        <ul>
                            <li>Mean Stack Front End with backend containing User Auth</li>
                            <li>Authentication via JWT using passportJs</li>
                            <li>Bcrypt Salted/Hashed password storage.</li>
                            <li>MongoDB database using mongoose ORM</li>
                            <li>Email service using NodeEmailer for verification/password reset emails</li>
                            <li>Echarts for charting Day/Price for cryptocurrencies.</li>
                            <li>Angular5 frontend</li>
                            <li>Nebular + Bootstrap for frontend components</li>
                            <li>Angular Service worker for asset/data caching enabling the site to be served fully with cached
                                data while offine.
                                <br> Aswell as increasing loading times significantly
                            </li>
                        </ul>
                        <h5 class="cadetblue">Data Api</h5>
                        <ul>
                            <li>Backend was written in Ruby on Rails then once more In Node+Express as I wanted to maintain my
                                skills in both languages.</li>
                            <li>Connects to multiple api's with cron jobs triggering functions scraping data for approx 1560
                                crypto currencies</li>
                            <li>Databases: Ruby version: PostgreSQL, Node/Express version: MongoDB</li>
                        </ul>
                        <h5 class="cadetblue">Challenges</h5>
                        <p>
                            One of the bigger challenges was the database design since I knew all of the different cryptocurrency exchange website API's
                            I had in mind would not have consistent data across the board. </p>
                        <div class="flex-it">
                            <img src="assets/images/cryptonalysis/db-design.PNG" class="img-fluid des-img" alt="">
                        </div>
                        <p>While many of these connections went unused, i sat down and thought of all the possible scenarios I could run into long term if I never stopped <br>
                           developing the site.I didnt want to write a ton of code for my automatic jobs to later find that I had to change the database and code significantly <br>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <h5 class="cadetblue" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Progressive Web App Auth template
                </h5>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="vid-container">
                    <div class="video-responsive">
                        <iframe width="560" class="iframe-center" height="315" src="https://www.youtube.com/embed/WE87PO3RQ4E" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="">
                    <div class="my-div">
                        <a href="https://mymeanauthtemplate.herokuapp.com/" class="cadetblue">Website Link!</a>
                        <a href="https://github.com/DaniVSainz/MEAN-stack-authentication-Template" class="cadetblue">Github Repo!</a>
                        <h5 class="cadetblue">About</h5>
                        <p>
                            At a certain point, I realized the repetition there was on every new website I ever made, Authentication.I would go into
                            old projects and start copy pasting for a few hours until I glued together something reminiscent
                            of my old projects.It was frustrating, dirty and i'd have to go through the project removing CSS classes hoping i wouldnt miss anything.
                            <br>
                            I had enough, so I decided to make my own template with the least amount of unneeded dependencies
                            as I could come up with.It had to be robust if I was going to be cloning it, and minimal CSS as I may not want to use bootstrap or material or w.e framework
                            is in flavor that month anymore.
                        </p>
                        <h5 class="cadetblue">Features</h5>
                        <ul>
                            <li>Angular Service worker for asset/data caching enabling the site to be served fully with cached
                                    data while offine.
                                    <br> Aswell as increasing loading times significantly
                            </li>
                            <li>Mean Stack Front End with backend containing User Auth</li>
                            <li>Error/Success messages</li>
                            <li>Authentication via JWT using passportJs</li>
                            <li>Bcrypt Salted/Hashed password storage.</li>
                            <li>MongoDB database using mongoose ORM</li>
                            <li>Email service using NodeEmailer for verification/password reset emails</li>
                            <li>Angular5 frontend</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <h5 class="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </h5>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="vid-container">
                    <div class="video-responsive">
                        <iframe width="560" class="iframe-center" height="315" src="https://www.youtube.com/embed/Fo6AwUtthCw" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="">
                    <div class="my-div">
                        <h5 class="cadetblue">About</h5>
                        <p>
                            This website came about while i was looking for a project that i could feel passionate about to showcase some of my skills.
                            I didn't ever expect it to end up being as complicated as it was but I felt like I had to go
                            through with it since i started. I had to research multiple cryptocurrency exchange websites
                            and go through their api's to get a general idea of what the data I would be scraping
                        </p>
                        <h5 class="cadetblue">Mean stack app</h5>
                        <ul>
                            <li>Mean Stack Front End with backend containing User Auth</li>
                            <li>Authentication via JWT using passportJs</li>
                            <li>Bcrypt Salted/Hashed password storage.</li>
                            <li>MongoDB database using mongoose ORM</li>
                            <li>Email service using NodeEmailer for verification/password reset emails</li>
                            <li>Echarts for charting Day/Price for cryptocurrencies.</li>
                            <li>Angular5 frontend</li>
                            <li>Nebular + Bootstrap for frontend components</li>
                            <li>Angular Service worker for asset/data caching enabling the site to be served fully with cached
                                data while offine.
                                <br> Aswell as increasing loading times significantly
                            </li>
                        </ul>
                        <h5 class="cadetblue">Data Api</h5>
                        <ul>
                            <li>Backend was written in Ruby on Rails then once more In Node+Express as I wanted to maintain my
                                skills in both languages.</li>
                            <li>Connects to multiple api's with cron jobs triggering functions scraping data for approx 1560
                                crypto currencies</li>
                            <li>Databases: Ruby version: PostgreSQL, Node/Express version: MongoDB</li>
                        </ul>
                        <h5 class="cadetblue">Challenges</h5>
                        <p>
                            One of the bigger challenges was the database design since I knew all of the different cryptocurrency exchange website API's
                            I had in mind would not have consistent data across the board. </p>
                        <div class="flex-it">
                            <img src="assets/images/cryptonalysis/db-design.PNG" class="img-fluid des-img" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>