<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Main Skills" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xlg-4 col-xl-4 col-sm-12 col-12">
                <ul>
                    <li>
                        Languages:
                        <ul>
                            <li>
                                Ruby
                            </li>
                            <li>
                                Java
                            </li>
                            <li>
                                JavaScript ES5/6/7
                            </li>
                            <li>
                                TypeScript
                            </li>
                            <li>
                                Bash
                            </li>
                            <li>
                                Html/CSS
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xlg-4 col-xl-4 col-sm-12 col-12">
                <ul>
                    <li>
                        Languages:
                        <ul>
                            <li>
                                Ruby
                            </li>
                            <li>
                                Java
                            </li>
                            <li>
                                JavaScript ES5/6/7
                            </li>
                            <li>
                                TypeScript
                            </li>
                            <li>
                                Bash
                            </li>
                            <li>
                                Html/CSS
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xlg-4 col-xl-4 col-sm-12 col-12">
                <ul>
                    <li>
                        Languages:
                        <ul>
                            <li>
                                Ruby
                            </li>
                            <li>
                                Java
                            </li>
                            <li>
                                JavaScript ES5/6/7
                            </li>
                            <li>
                                TypeScript
                            </li>
                            <li>
                                Bash
                            </li>
                            <li>
                                Html/CSS
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </ba-card>
</div>

            <!-- <li>
                Databases: MongoDB, Traditional SQL
            </li>
            <li>
                Testing: Selenium using Page Object Model Design Pattern(Java) 
            </li>
            <li>
                Familiar with: Ethereum Smart contracts using Solidity,Rspec(Ruby), Mocha(JS), Cron Jobs
            </li>
            <li>
                Concepts: Object Oriented Programming, Microservices, Offline First,Mobile First 
            </li> -->

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Ruby on Rails" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="assets/images/ruby-on-rails.jpg">
            </div>
            <div class=my-div>
              <p>
                  1
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/projects/ruby">Ruby on Rails Projects</button>       
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Angular4" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular 4 Shield logo" class="projects-img-logo">
            </div>
            <div class=my-div>
              <p>
                    2
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/dashboard">Angular Projects</button>    
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Ionic" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="https://julienrenaux.fr/talks-src/img/ionic-logo.png" alt="Angular 4 Shield logo" class="img-fluid">
            </div>
            <div class=my-div>
              <p>
                    3
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/dashboard">Ionic Projects</button>    
        </div>
    </ba-card>
</div>