<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Main Skills" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xlg-2 col-xl-2 col-sm-12 col-12">
                <ul>
                    <li>
                        Languages:
                        <ul>
                            <li>
                                Ruby
                            </li>
                            <li>
                                Java
                            </li>
                            <li>
                                JavaScript ES5/6/7
                            </li>
                            <li>
                                TypeScript
                            </li>
                            <li>
                                Bash
                            </li>
                            <li>
                                Html/CSS
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xlg-2 col-xl-2 col-sm-12 col-12">
                <ul>
                    <li>
                        FrameWorks/Stacks:
                        <ul>
                            <li>
                                Ruby on Rails
                            </li>
                            <li>
                                Mean Stack
                            </li>
                            <li>
                                NodeJs
                            </li>
                            <li>
                                Express
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xlg-3 col-xl-3 col-sm-12 col-12">
                <ul>
                    <li>
                        Databases:
                        <ul>
                            <li>
                                MongoDb(ORM:Mongoose)
                            </li>
                            <li>SQL:MySQL,DB2,Posgresql,Sqlite3.Mostly using Active record ORM and small hand written queries</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xlg-2 col-xl-2 col-sm-12 col-12">
                <ul>
                    <li>
                        Concepts/Design/Implementation
                        <ul>
                            <li>
                                Object Oriented Programming
                            </li>
                            <li>
                                Service Workers for Offline First Apps
                            </li>
                            <li>
                                MicroServices
                            </li>
                            <li>
                                Websockets
                            </li>
                            <li>
                                JWT based authentication
                            </li>
                            <li>
                                Bcrypt hash/salted passwords
                            </li>
                            <li>
                                Cron scheduled jobs
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xlg-2 col-xl-2 col-sm-12 col-12">
                <ul>
                    <li>
                        Familiar With:
                        <ul>
                            <li>
                                Solidity,Ethereum smart contracts
                            </li>
                            <li>
                                Rspec(Ruby)
                            </li>
                            <li>
                                Mocha(Javascript)
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="JavaScript" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="assets/images/nodejs.png" alt="JavaScript logo" class="img-fluid top-left">
            </div>
            <div class=my-div>
              <p>
                    3
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/dashboard">Ionic Projects</button>    
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" href="assets/images/ruby-on-rails.jpg" title="Ruby on Rails" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="assets/images/ruby-on-rails.jpg">
            </div>
            <div class=my-div>
              <p>
                  1
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/projects/ruby">Ruby on Rails Projects</button>       
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Angular4" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular 4 Shield logo" class="projects-img-logo">
            </div>
            <div class=my-div>
              <p>
                    2
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/dashboard">Angular Projects</button>    
        </div>
    </ba-card>
</div>

