<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Main Skills" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="row">
            <div class="col" id="socicon-row">
                <a href="https://github.com/DaniVSainz" target="_blank">
                    <i class="projects-socicon socicon socicon-github"></i>
                    </ a>
            </div>
        </div>

        <div class="row">
            <div class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
                <ul>
                    <li>
                        <h5 class="skills-h5">Languages:</h5>
                        <p> Ruby, &nbsp;Java, &nbsp;Javascript ES5/6/7, &nbsp;TypeScript, &nbsp;Bash, &nbsp;Html/Css</p>
                    </li>
                    <li>
                        <h5 class="skills-h5">Frameworks/Stacks</h5>
                        <p>MeanStack, &nbsp;Ruby on Rails, &nbsp;Angular, &nbsp;Node.JS, &nbsp;Express</p>
                    </li>
                    <li>
                        <h5 class="skills-h5">Databases/ORM's</h5>
                        <p>MongoDB(Mongoose), &nbsp;SQL:MySQL,DB2,Posgresql,Sqlite3.Mostly using Active record ORM and small
                            hand written queries</p>
                    </li>
                    <li>
                        <h5 class="skills-h5">Concepts/Design Patterns/Implementations</h5>
                        <p>
                            Object Oriented Programming, &nbsp;Service Workers for Offline First Apps, &nbsp;MicroServices, &nbsp;Websockets, &nbsp;JWT
                            based authentication, &nbsp;Bcrypt hashed/salted passwords,
                            <br> Cron scheduled jobs, &nbsp;Selenium(Java) using POM design pattern.
                        </p>
                    </li>
                    <li>
                        <h5 class="skills-h5">Familiar with</h5>
                        <p>
                            Solidity, &nbsp;Ethereum smart contracts, &nbsp;Rspec(Ruby), &nbsp;Mocha(Js)
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Current Project" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">

        <div>
            <img class="img-fluid" src="assets/images/cryptonalysis/chart.PNG">
        </div>

        <div class="my-card">
            <ul>
                <h4 class="skills-h5">CryptoNalysis</h4>
                <p>My most recent project is a cryptocurrency index site, built around Mean Stack. <br>
                    
                    The frontend was developed
                    in Angular and used E3 Charts to display daily price data.An authentication API using Express, PassportJs,
                    Bcrypt for salted/hashed passwords, JSON Web Tokens and email verification/password reset tokens.
                    <br>
                    I also
                    built a micro-service API using Node/Express to hold the data for over 1500 cryptocurrencies.Which consisted
                    of non-blocking Cron jobs that scrape websites every 10 minutes to power the frontend charts with fresh
                    data as well as historical data.</p>
            </ul>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/projects/javascript">Current Project</button>
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" myCard="Yes" title="JavaScript" href="assets/images/nodejs.png" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="carousel-div">
            <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 carousel-img" src="assets/images/auth-template/Capture.PNG" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="caro-text">Progressive Web App Auth template</h3>
                            <p class="caro-text">
                                A scratch made Offline capable Progressive Web App authentication template with full blown emails/verification/password resets
                                etc.A Cloneable project to use a starting point for any future apps.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-img" src="assets/images/cryptonalysis/chart.PNG" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="caro-text">CryptoCurrency Index</h3>
                            <p class="caro-text">
                                CryptoCurrency site, with cron jobs, scratch made auth,emails,angular front express back end, and ruby on rails api, E3 charts
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-img" src="assets/images/websockets/websockets.PNG" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="caro-text">Node Websocket Chat</h3>
                            <p class="caro-text">
                                Project exploring websockets in Node.js
                            </p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/projects/javascript">Javascript Projects</button>
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" myCard="Yes" href="assets/images/ruby-on-rails.jpg" title="Ruby on Rails"
        class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="carousel-div">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel2">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 carousel-img" src="assets/images/relicious/Capture.PNG" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-img" src="assets/images/lift-tracker/lift-tracker.PNG" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="my-card">
                <div class=my-div>
                    <h4>
                        Relicious
                    </h4>
                    <p>
                        An online dating sites where users would be matched with other users by restaurants they shared in common. Profile images
                        hosted on AWS passed through out server.Private messaging, user auth through devise and Restaurant
                        data through foursquare's api.
                    </p>
                    <h4>
                        Lift tracker
                    </h4>
                    <p>
                        A simple website to track your lifts in the gym, rails api for our user registration and weight lifting data.Angular front
                        end.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/projects/ruby">Ruby on Rails Projects</button>
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" href="https://angular.io/assets/images/logos/angular/angular.png" myCard="Yes"
        title="Angular" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="my-card">

            <div class=my-div>
                <p>
                    Every website above except the Websocket Chat and Ruby on rails online dating site were made with Angular front ends.
                </p>
            </div>
        </div>

        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/projects/angular">Angular Projects</button>
        </div>
    </ba-card>
</div>

<div class="row">
  <ba-card baCardClass="card" style="margin:0 auto;" href="http://www.stickpng.com/assets/images/58482acecef1014c0b5e4a1e.png" myCard="Yes"
      title="Vue" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
      <div class="my-card">

          <div class=my-div>
              <p>
                  I was given the challenge to create a vue application as part of the application process for a company.Using my 
                  auth app as a base i was able to create a MEVN stack app in a few days with full auth and prize redemption limited to users only 
                  on the server side.
              </p>
          </div>
      </div>

      <div class="row">
          <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/dashboard">Vue Project</button>
      </div>
  </ba-card>
</div>