<div id="accordion">
  <div class="card">
      <div class="card-header" id="headingOne">
          <h5 class="mb-0">
              <h5 class="cadetblue" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Razz Vue Rewards
              </h5>
          </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <div class="vid-container">
                  <div class="video-responsive">
                      <iframe width="560" class="iframe-center" height="315" src="https://www.youtube.com/embed/ihMVwFDRxhM" frameborder="0" allow="autoplay; encrypted-media"
                          allowfullscreen>
                      </iframe>
                  </div>
              </div>
              <div class="">
                  <div class="my-div">

                      <h5 class="cadetblue">About</h5>
                      <p>
                        I was given the challenge to create a Vue application as part of the application process for a company.
                        Using my auth app as a base I was able to create a MEVN stack app in a few days with full auth and prize redemption limited
                        to users on the server side.
                      </p>
                      <h5 class="cadetblue">Mevn stack app</h5>
                      <ul>
                          <li>Mevn Stack Front End with backend containing User Auth</li>
                          <li>Authentication via JWT using passportJs</li>
                          <li>Bcrypt Salted/Hashed password storage.</li>
                          <li>MongoDB database using mongoose ODM</li>
                          <li>Email service using NodeEmailer for verification/password reset emails</li>
                          <li>Prize redemption protected to logged in users only</li>
                          <li>Vue Front End</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
