<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Ruby on Rails" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="assets/images/ruby-on-rails.jpg">
            </div>
            <div class=my-div>
              <p>
                My journey with ruby began shortly after realizing how hard it would be to get into software developement.After finding out many 
                coding bootcamps taught ruby, i decided it must be for a reason and I started a online free bootcamp.Mid-way through the online 
                bootcamp i felt lost and didn't really know where I stood and decided to join Wyncode in Miami Fl to begin my programming journey.

                During the bootcamp I learnt the fundamentals of programming and it created a foundation upon which i could build on, it was 
                exactly what I was looking for as I knew it was just the beginning.

                My most significant ruby app was my final project build for my "PitchDay/Graduation".It was a dating site absdjbadjbasjdbajd
                ajsdbajksdnjasdalsgdjk;asdgasdjk;gas;djasgd;askdg;askgjkas;as;gas;dasjk;dg;asdg;jkasdjk;asdgjk;asdj;asdgjk;sda;.
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/dashboard">Ruby on Rails Projects</button>       
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Angular4" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular 4 Shield logo" class="projects-img-logo">
            </div>
            <div class=my-div>
              <p>
                Pop-up hoodie hot chicken tbh ethical fugiat magna exercitation slow-carb scenester <br>
                artisan culpa reprehenderit irure. Dreamcatcher cloud bread ea, copper mug godard franzen butcher<br>
                art party jianbing. Banh mi master cleanse ramps, adaptogen retro hammock coloring book aute austin pok<br>
                pok everyday carry shoreditch hoodie pork belly. Quinoa cray occaecat echo park, listicle iPhone subway tile<br>
                8-bit snackwave pinterest. Brunch raclette vegan pitchfork blog pickled. Before they sold out polaroid intelligentsia,<br>
                glossier pug williamsburg hexagon gluten-free yuccie. Echo park DIY post-ironic ramps lumbersexual, proident sed. Man braid<br>
                occaecat echo park ea organic enamel pin vape. Officia id actually chicharrones adipisicing aesthetic. Occupy vice try-hard hella,<br>
                hot chicken laboris cold-pressed beard blue bottle in celiac iPhone quinoa adaptogen.
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/dashboard">Angular Projects</button>    
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="Ionic" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <div class="my-card">
            <div class="language-image">
              <img src="https://julienrenaux.fr/talks-src/img/ionic-logo.png" alt="Angular 4 Shield logo" class="img-fluid">
            </div>
            <div class=my-div>
              <p>
                Pop-up hoodie hot chicken tbh ethical fugiat magna exercitation slow-carb scenester <br>
                artisan culpa reprehenderit irure. Dreamcatcher cloud bread ea, copper mug godard franzen butcher<br>
                art party jianbing. Banh mi master cleanse ramps, adaptogen retro hammock coloring book aute austin pok<br>
                pok everyday carry shoreditch hoodie pork belly. Quinoa cray occaecat echo park, listicle iPhone subway tile<br>
                8-bit snackwave pinterest. Brunch raclette vegan pitchfork blog pickled. Before they sold out polaroid intelligentsia,<br>
                glossier pug williamsburg hexagon gluten-free yuccie. Echo park DIY post-ironic ramps lumbersexual, proident sed. Man braid<br>
                occaecat echo park ea organic enamel pin vape. Officia id actually chicharrones adipisicing aesthetic. Occupy vice try-hard hella,<br>
                hot chicken laboris cold-pressed beard blue bottle in celiac iPhone quinoa adaptogen.
              </p>
            </div>
        </div>
        <div class="row">
            <button class="snip1293" style="margin: 0 auto;" routerLink="/pages/dashboard">Ionic Projects</button>    
        </div>
    </ba-card>
</div>