<!-- <div class="row">
    <ba-card baCardClass="card" style="margin:0 auto;" title="CryptoNalysis" class="col-xlg-10 col-xl-10 col-lg-12 col-sm-12 col-12">
        <div class="vid-container">
            <div class="video-responsive">
                    <iframe width="560" class="iframe-center" height="315" src="https://www.youtube.com/embed/Fo6AwUtthCw" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen>
                    </iframe>
            </div>
        </div>
    </ba-card>
</div> -->

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <h5 class="cadetblue" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Relicious
                </h5>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="vid-container">
                    <img src="https://github.com/DaniVSainz/ReliciousDating/blob/master/home-page.png?raw=true" class="img-fluid" alt="">
                    <img src="https://github.com/DaniVSainz/ReliciousDating/raw/master/login.png" class="img-fluid" alt="">
                    <img src="https://github.com/DaniVSainz/ReliciousDating/raw/master/Profile.png" class="img-fluid" alt="">
                    <img src="https://github.com/DaniVSainz/ReliciousDating/raw/master/Rest-search.png" class="img-fluid" alt="">
                </div>
                <div class="">
                    <div class="my-div">
                        <a href="http://relicious.herokuapp.com/" class="cadetblue">Website Link!</a>
                        <a href="https://github.com/DaniVSainz/ReliciousDating" class="cadetblue">Github Repo!</a>
                        <h5 class="cadetblue">About</h5>
                        <p>
                            Relicioius was my final project while at Wyncode Academy.It was made in 2 shorts weeks after being exposed to ruby on rails
                            for approximately 2 months.Relicious was a twist on dating websites in the era of online dating.It
                            allowed users to match themselves with other users by restaurants they like giving an easy first
                            date.
                        </p>
                        <h5 class="cadetblue">Ruby on Rails</h5>
                        <ul>
                            <li>Private messaging between matched users</li>
                            <li>Restaurant search page that returned venues by terms you searched(Food types, restaurant name etc)</li>
                            <li>Data obtained through foursquares api</li>
                            <li>User authentication/encrypted passwords through the gem Devise</li>
                            <li>
                                User's had the option to upload images to have a profile pic.We passed the attachments through our 
                                servers validation before sending it to a AWS s3 bucket where they're hosted
                            </li>
                        </ul>
                        <h5 class="cadetblue">Challenges</h5>
                        <p>
                            The biggest challenge was the time limit we had and knowing we would have to present our application to almost 100 people. <br>
                            The second was once we came up with the idea my partner asked me to create User registration and private messaging.I had no idea how <br>
                            I would even begin to implement it but after a 30+ hour coding spree and many bugs I finished building a stable foundation for our app.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <h5 class="cadetblue" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Lift Tracker
                </h5>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="vid-container">
                    <img src="https://github.com/DaniVSainz/bodybuilding-angular/raw/master/ang4-bodybuilding.gif" class="img-fluid" alt="">
                    <h5 class="cadetblue">Ionic mobile app</h5>
                    <img src="https://github.com/DaniVSainz/bodybuilding-angular/raw/master/mobile.gif" class="img-fluid" alt="">
                </div>
                <div class="">
                    <div class="my-div">
                        <a href="https://github.com/DaniVSainz/BodyBuilding-Web-Mobile-App" class="cadetblue">Github Repo!</a>
                        <h5 class="cadetblue">About</h5>
                        <p>
                            At the time i was frequently going to the gym and happened to need a project to play around with angular. <br>
                        </p>
                        <h5 class="cadetblue">Features</h5>
                        <ul>
                            <li>Ruby on Rails api containing Auth and Data for user's weight lifting statistics</li>
                            <li>Angular Front end</li>
                            <li>Minimal mobile app made using Ionic, a mobile app framework built ontop of Angular</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <h5 class="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </h5>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="vid-container">
                    <div class="video-responsive">
                        <iframe width="560" class="iframe-center" height="315" src="https://www.youtube.com/embed/Fo6AwUtthCw" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="">
                    <div class="my-div">
                        <h5 class="cadetblue">About</h5>
                        <p>
                            This website came about while i was looking for a project that i could feel passionate about to showcase some of my skills.
                            I didn't ever expect it to end up being as complicated as it was but I felt like I had to go
                            through with it since i started. I had to research multiple cryptocurrency exchange websites
                            and go through their api's to get a general idea of what the data I would be scraping
                        </p>
                        <h5 class="cadetblue">Mean stack app</h5>
                        <ul>
                            <li>Mean Stack Front End with backend containing User Auth</li>
                            <li>Authentication via JWT using passportJs</li>
                            <li>Bcrypt Salted/Hashed password storage.</li>
                            <li>MongoDB database using mongoose ORM</li>
                            <li>Email service using NodeEmailer for verification/password reset emails</li>
                            <li>Echarts for charting Day/Price for cryptocurrencies.</li>
                            <li>Angular5 frontend</li>
                            <li>Nebular + Bootstrap for frontend components</li>
                            <li>Angular Service worker for asset/data caching enabling the site to be served fully with cached
                                data while offine.
                                <br> Aswell as increasing loading times significantly
                            </li>
                        </ul>
                        <h5 class="cadetblue">Data Api</h5>
                        <ul>
                            <li>Backend was written in Ruby on Rails then once more In Node+Express as I wanted to maintain my
                                skills in both languages.</li>
                            <li>Connects to multiple api's with cron jobs triggering functions scraping data for approx 1560
                                crypto currencies</li>
                            <li>Databases: Ruby version: PostgreSQL, Node/Express version: MongoDB</li>
                        </ul>
                        <h5 class="cadetblue">Challenges</h5>
                        <p>
                            One of the bigger challenges was the database design since I knew all of the different cryptocurrency exchange website API's
                            I had in mind would not have consistent data across the board. </p>
                        <div class="flex-it">
                            <img src="assets/images/cryptonalysis/db-design.PNG" class="img-fluid des-img" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>